html {
    background-color: rgb(50, 50, 50);
    color: white;
}

body {
    margin: 0px;
    display: grid;
    height: 100vh;
    grid-template: max-content 1fr / max-content 1fr;
    gap: 1rem;
}

header {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 5px 10px rgb(21, 21, 21);
    grid-column: 1/3;
}

h2 {
    font-size: 2rem;
    padding: 0px 20px;
}

.sidebar {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(50, 50, 50); 
    box-shadow: 10px 10px 10px rgb(30, 30, 30);
}

.sidebarProjectButton,
.activeProject {
    background-color: rgb(50, 50, 50);
    color: white;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project-button {
    background-color: rgba(50, 50, 50, 0);
    color: white;
    border: none;
    font-size: 1.4rem;
    width: 75%;
    padding: 8px 20px;
    text-align: start;
    overflow: hidden;
}

.sidebarProjectButton:hover,
.activeProject {
    background-color: rgb(30, 30, 30);
}

.sidebar-projects > button:active {
    outline: none;
    box-shadow: inset 2px 2px 5px rgb(15, 15, 15);
}

.project-delete {
    background: url("./assets/close.svg") no-repeat center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.notes {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: max-content;
    gap: 10px;
    margin-right: 10px;
}

.note-header,
.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.note-header > button,
.sidebar-header > button {
    background-color: rgb(50, 50, 50);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

.note-header > button:hover,
.sidebar-header > button:hover {
    background-color: rgb(70, 70, 70);
}

.notes > div {
    background-color: rgb(70, 70, 70);
    position: relative;
    border-radius: 15px;
    padding: 0px 15px;
    height: max-content;
    box-shadow: 5px 5px 10px rgb(21, 21, 21);
}

.notes > div > p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.del-button,
.complete-button {
    position: absolute;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    border: none;
}

.complete-button {
    right: 50px;
    background: url("./assets/check.svg") no-repeat center;
}

.del-button {
    right: 15px;
    background: url("./assets/close.svg") no-repeat center;
}

.completed {
    opacity: 50%;
}

.del-button:hover,
.project-delete:hover {
    background-color: rgba(255, 0, 0, 0.71);
}

.complete-button:hover {
    background-color: rgba(3, 255, 3, 0.51);
}

.title-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.5rem;
    width: 50%;
    text-align: start;
    padding: 15px 0px;
    overflow: hidden;
}

#newNote,
#newProject {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    border-radius: 20px;
}

#noteTitle,
#noteDescription,
#noteDate,
#projectName {
    display: flex;
    flex-direction: column;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formButtons > button {
    background-color: rgb(30, 30, 30);
    display: block;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.formButtons > button:hover {
    background-color: rgb(50, 50, 50);
}

#noteForm,
#projectForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}